.form-group{
    position: relative;
    top: 15px;
}


.form-control {
    position: relative;
    height: 40px;
    width: 280px;
    border-radius: 3px;
    margin-left: 20px;
}

.search-icon {
    position: relative;
    padding: 0 0 0 0;
    left: 7cm;
    bottom: 35px;
    color: blue;
}


.btn{
    position: relative;
    padding: 0 10px ;
}